<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-md px-0">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="material-icons text-white">dehaze</i>
          <!-- <span class="navbar-toggler-icon"></span> -->
        </button>
        <a class="navbar-brand m-0" href="#">Craftsman</a>

        <div class="collapse navbar-collapse navbar-overlay" id="navbarNav">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="material-icons">keyboard_backspace</i>
          </button>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-3">
              <a class="nav-link" href="#">Product</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>

          <div class="shoppingCart">
            <a class="nav-link" href="#">
              <i class="material-icons"> shopping_cart </i>
            </a>
          </div>
        </div>

        <div class="mx-0 mx-md-3">
          <a class="nav-link" href="#">
            <i class="material-icons"> shopping_cart </i>
          </a>
        </div>
      </nav>
    </div>

    <%- contents %>

    <footer>
      <div class="container">
        <div class="row align-items-center py-4">
          <div class="col d-flex align-items-center">
            <h2>
              Craftsman
            </h2>
            <span class="copyrights ml-3 d-none d-md-block"
              >© 2020. All Rights Reserved.</span
            >
          </div>
          <div class="col">
            <ul class="list-unstyled d-flex">
              <li><a href="#">Purchase Policy</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms & Conditions</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- Bootstrap 4 JS  -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!-- Swiper CSS&JS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css" />
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script>
      $(document).ready(function () {
        //initialize swiper when document ready
        var mySwiper = new Swiper('.swiper-container', {
          // Optional parameters
          slidesPerView: 1.5,
          spaceBetween: 30,
          grabCursor: true,
          breakpoints: {
            768: {
              slidesPerView: 3.2,
              spaceBetween: 30,
            },
          },
        });
      });
    </script>
    <!-- Animate.css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
    />
    <!-- AOS CSS&JS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        // Global settings:
        disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
        startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
        initClassName: false, // class applied after initialization
        animatedClassName: 'animate__animated',
        // class applied on animation
        useClassNames: true, // if true, will add content of `data-aos` as classes on scroll
        disableMutationObserver: false, // disables automatic mutations' detections (advanced)
        debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
        throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)

        // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
        offset: 300, // offset (in px) from the original trigger point
        delay: 0, // values from 0 to 3000, with step 50ms
        duration: 400, // values from 0 to 3000, with step 50ms
        easing: 'ease', // default easing for AOS animations
        once: false, // whether animation should happen only once - while scrolling down
        mirror: false, // whether elements should animate out while scrolling past them
        anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
      });
    </script>
  </body>
</html>
