<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>
  <body>
    <div class="container">
      <div class="menu">
        <h1>
          <a href="index.html"
            ><img src="./assets/images/logo-ANSWER.svg" alt="" class="logo"
          /></a>
        </h1>
        <ul class="list-unstyled">
          <li>
            <a href="#">
              <i class="material-icons"> insert_chart </i>Dashboard
            </a>
          </li>
          <li>
            <a href="#"> <i class="material-icons"> forum </i>Question </a>
          </li>
          <li>
            <a href="assignment.html">
              <i class="material-icons"> assignment </i>Assignment
            </a>
          </li>
          <li>
            <a href="#">
              <i class="material-icons"> library_music </i>Course
            </a>
          </li>
          <li>
            <a href="admin.html">
              <i class="material-icons"> supervisor_account </i>Admin
            </a>
          </li>
          <li>
            <a href="#"> <i class="material-icons"> settings </i>Settings </a>
          </li>
        </ul>
        <div class="login">
          <div class="login-avatar">
            <img
              src="assets/images/avatar-andy-chen.jpg"
              alt=""
              class="avatar"
            />
          </div>
          <div class="login-detail">
            <p class="detail-name">Andy Chen</p>
            <p class="detail-email">andy0401@mail.com</p>
          </div>
        </div>
      </div>
      <%- contents %>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
