.admin {
  padding: 32px;
  &-table {
    width: calc(984px - 64px);
    text-align: left;
    table {
      width: 100%;

      thead {
        font-weight: 700;
        tr {
          border-bottom: 1px solid $primary-fn-color;
        }
        th {
          padding-bottom: 4px;
        }
      }
      tbody {
        tr {
          border-bottom: 1px solid $primary-bd-color;
        }
        td {
          padding: 16px 0;
        }
        td:last-child {
          display: flex;
          justify-content: flex-end;
          .material-icons {
            cursor: pointer;
            vertical-align: middle;
          }
        }
      }
    }
    .md-12 {
      font-size: 12px;
      margin-left: 7px;
      color: $primary-color;
    }
  }
  .modal-header {
    padding: 2rem;
  }
  .modal-body {
    h3 {
      margin-bottom: 1rem;
    }
    section ~ section {
      padding-top: 24.5px;
      margin-top: 24.5px;
      border-top: 1px solid $primary-bd-color;
    }
  }
  .modal-footer {
  }
}
.admin-account {
  margin-top: -32px;
  label {
  }
  input {
    background-color: $primary-bg-color;
    border: 0;
    margin: 4px 0 1rem;
  }
}
.admin-verification {
  .row {
    span {
      margin-left: 10px;
    }
    time {
      font-size: 0.875rem;
      margin-left: auto;
    }
  }
  button {
    margin-top: 1.125rem;
  }
}
.admin-custom {
  .custom-control ~ .custom-control {
    margin-top: 1rem;
  }
}
.admin-deactivate {
  .row {
    span {
      margin-left: 10px;
    }
  }

  button {
    margin-top: 1.125rem;
  }
}
