.menu {
  padding: 32px 0;
  display: flex;
  flex-direction: column;

  background-color: $primary-bg-color;
  h1 {
    padding: 0 32px;
    margin-bottom: 32px;
  }
  ul {
    width: 296px;
    display: flex;
    flex-direction: column;
  }
  ul li:hover a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: $primary-color;
    // transform: translateX(-4px);
  }
  ul li a {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 10px 32px;
    position: relative;

    text-decoration: none;
    color: $primary-fn-color;

    .material-icons {
      margin-right: 16px;
      vertical-align: middle;
    }

    &:hover {
      color: $primary-color;
    }
  }

  ul li ~ li {
    margin-top: 30px;
  }
}

.login {
  display: flex;
  align-items: center;
  padding: 0 32px;
  margin-top: auto;
  &-avatar {
    margin-right: 16px;
  }
  &-detail {
    .detail-name {
      margin-bottom: 4px;
    }
    .detail-email {
      color: $gray-600;
    }
  }
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
}
