.jumbotron-fluid {
  height: 800px;
  background-color: transparent;
}
.jumbotron-fluid:after {
  // content: '';
  position: absolute;
  width: 50%;
  // height: 100%;
  max-height: 800px;
  bottom: 0;
  right: 0;
  background: url(../images/tom-crew-5HRCkrSs9Dk-unsplash.jpg) no-repeat center
    center;
  background-size: cover;
  z-index: -1;

  @media (max-width: 768px) {
    width: 100%;
  }
}
.jumbotron-img {
  position: absolute;
  height: 800px;
  top: 0;
  right: 0;
  bottom: 0;
  background: url(../images/tom-crew-5HRCkrSs9Dk-unsplash.jpg) no-repeat center
    center;
  background-size: cover;
  z-index: -1;
  @media (max-width: 768px) {
    height: 640px;
  }
}

.jumbotron-text {
  margin: 16rem 0;
  h1 {
    font-weight: 700;
  }
  p {
    color: #0000009a;
  }
  .btn {
    font-size: 1rem;
  }

  @media (max-width: 768px) {
    margin: 8rem 0;
    text-align: center;
    h1 {
      color: #fff;
    }
    p {
      color: #ffffff99;
    }
    .btn {
      width: 100%;
    }
  }
}

.features {
  // margin-bottom: 4.5rem;
  .media-body {
    p {
      color: $gray-666;
    }
  }
}
.artist {
  background: url(../images/burningparrot-u2Xn5Bzvllw-unsplash.jpg) no-repeat
    center center;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;

  .blockquote {
    font-size: 2rem;
    font-weight: 700;
  }
}
