.navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-weight: 900;
  color: $black;
  @media (max-width: 768px) {
    color: #ffffff;
  }
}
.nav-link {
  color: #fff;
}

@media (max-width: 768px) {
  .navbar-overlay {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 100%;
    z-index: 10;

    visibility: hidden;

    background-color: #fff;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;

    .nav-link {
      color: #000;
      font-size: 1.5rem;
      border-bottom: 1px solid #000;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .shoppingCart {
      position: absolute;
      right: 15px;
      top: 0.5rem;
      .nav-link {
        padding: 0;
        color: #000;
        border: 0;
      }
    }
  }
  .navbar-overlay.show {
    visibility: visible;
    transform: translateX(100%);
  }
}

footer {
  background-color: $black;
  color: #fff;
  h2 {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 900;
  }
  .copyrights {
    font-size: 0.875rem;
    color: $gray-500;
  }
  ul {
    margin: 0;
    justify-content: flex-end;
    li ~ li {
      margin-left: 3rem;
    }
    a {
      color: $white;
    }
  }
}
