.navbar {
  .navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 900;
    color: $white;
    @include media-breakpoint-up(md) {
      color: $black;
    }
  }
  .nav-link {
    color: $white;
    @include media-breakpoint-up(md) {
      color: $black;
    }
  }

  @include media-breakpoint-down(md) {
    .navbar-overlay {
      position: fixed;
      width: 100%;
      top: 0;
      bottom: 0;
      right: 100%;
      z-index: 10;

      visibility: hidden;

      background-color: #fff;
      transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;

      button.navbar-toggler {
        margin-bottom: 2rem;
      }

      .navbar-nav {
        width: 100%;
      }
      .nav-item {
        position: relative;
      }
      .btn-collapse {
        position: absolute;
        top: 1rem;
        right: 0;
      }
      .subNav {
        border-bottom: 1px solid #000;
        color: $gray-666;
        li ~ li {
          margin-top: 1rem;
        }
      }

      .nav-link {
        color: #000;
        font-size: 1.5rem;
        border-bottom: 1px solid #000;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }

      .shoppingCart {
        position: absolute;
        right: 15px;
        top: 0.5rem;
        .nav-link {
          padding: 0;
          color: #000;
          border: 0;
        }
      }
    }
    .navbar-overlay.show {
      visibility: visible;
      transform: translateX(100%);
    }
  }
}

.subscribe {
  height: 400px;
  padding-top: 5.25rem;
  background: url(../images/tom-crew-uDF1mW7EUwM-unsplash.jpg) no-repeat center
    center;
  background-size: cover;

  input[type='email'] {
    background-color: transparent;
  }
  .input-group {
  }
}

footer {
  background-color: $black;
  color: #fff;
  position: relative;
  h2 {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 900;
  }
  .copyrights {
    font-size: 0.875rem;
    color: $gray-500;
    @media (max-width: 768px) {
      position: absolute;
      bottom: -12rem;
      left: 0;
    }
  }
  ul {
    margin: 0;
    justify-content: flex-end;
    @media (max-width: 768px) {
      margin-bottom: 2.5rem;
    }

    li ~ li {
      margin-top: 0;
      margin-left: 3rem;

      @media (max-width: 768px) {
        margin-top: 1rem;
        margin-left: 0;
      }
    }
    a {
      color: $white;
    }
  }
}
