.card {
  border: 0;
  img {
    height: 240px;
    object-fit: cover;
    @include media-breakpoint-up(md) {
      height: 350px;
    }
  }
}
.card-body {
  padding: 0;

  h5 {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
  }
}

.productList {
  img {
    height: 161px;
    @include media-breakpoint-up(md) {
      height: 350px;
    }
  }
  .card:nth-child(2n) {
    img {
      height: 240px;
    }
  }
  .card:nth-child(3n) {
    img {
      height: 480px;
    }
  }
  .card:nth-child(4n) {
    img {
      height: 480px;
    }
  }

  .card:nth-child(6n) {
    img {
      height: 240px;
    }
  }
  .card:nth-child(7n) {
    img {
      height: 240px;
    }
  }
  .card:nth-child(8n) {
    img {
      height: 480px;
    }
  }
  .card:nth-child(9n) {
    img {
      height: 350px;
    }
  }
}

.card-columns {
  .card {
    margin-bottom: 1.5rem;
  }
  column-gap: 0.5rem;
  column-count: 2;

  @include media-breakpoint-up(md) {
    .card {
      margin-bottom: 3rem;
    }
    column-gap: 30px;
    column-count: 3;
  }
}

.card.card-price {
}
